@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: rewant;
    src: url(./assets/fonts/REWANT.OTF);
}

html, body {
    background-color: #f5f6fa;
    scroll-behavior: smooth;
}

.font-rewant{
    font-family: rewant;
}

/*ESTILIZAÇÃO SCROLL-BAR */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background: #f0cca8;
}
::-webkit-scrollbar-thumb {
    background: #663210;
    border-radius: 8px;
}

.height-banner {
    height: calc(100vh - 82px);
}



.background-video{
    background-color: #663210;
    background-image: url(./assets/images/background-naraVieira.svg);
    background-size: 150%;
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-bottom: -1px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #e2d7cf;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #663210;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}